<img class="fit-picture"
     src="../../images/narwhale.jpg"
     alt="Charlotte Fereday courtesy of: https://www.pinterest.com/pin/378443174910250308/">
<p>Full stack Developer at <a href="https://www.tes.com/">TES Global</a> in the <a
  href="https://www.engineering.tes.com/">Security Engineering Team</a>.
  Working hard to deliver the best quality code.
  Passionate about finding new and innovative ways to make positive social impact through technology, education and
  open source projects.</p>
