body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}

nav {
  border-bottom: 1px solid black;
}

.pages ul {
  list-style-type: none;
  padding-left: 10px;
  text-align: center;
}

.page {
  display: inline-block;
  padding-left:1em;
}
