<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86 shrink-to-fit=no">
  <title>👩‍💻 {{ title }}</title>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,700;1,400;1,700&amp;family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&amp;family=Comfortaa:wght@700&amp;display=swap"
        media="all" onload="this.media='all'">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script type="text/javascript" src="/js/scrolling.js"></script>
</head>
<body class="placeholder-to-trigger-reset-cs text-size">
<div class="fancy-gradient-rainbow"> {% include "partials/site-head.html" %}</div>
<main class="center main-content">
  <h1 class="small-stack text-size-l">{{ title }}</h1>
  <h2 class="text-size-m small-stack"> {{ description }}</h2>
  {% block content %}{% endblock %}
  <address class="center large-stack space-evenly">
    {% include "partials/social/linkedin.html" %}
    {% include "partials/social/twitter.html" %}
    {% include "partials/social/github.html" %}
    {% include "partials/social/devto.html" %}
  </address>
</main>
<footer class="center space-evenly text-size-xs">  <p>⚡️ 2020  © Charlotte Fereday</p></footer>
</body>
</html>
