<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86 shrink-to-fit=no">
  <meta name="description" content="Website for Software Engineer Charlotte Fereday">
  <meta name="keywords" content="Security, Engineering">
  <meta name="author" content="Charlotte Fereday">
  <title>👩‍💻 {{ title }}</title>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel="stylesheet" href="/css/index.css"/>
  <script src="https://unpkg.com/scrollreveal" defer></script>
  <script type="text/javascript" src="/js/scrolling.js" defer></script>
  <script async defer data-domain="charlottebrf.dev" src="https://plausible.io/js/plausible.js"></script>
</head>
<body class="placeholder-to-trigger-reset-cs text-size">
<div class="fancy-gradient-rainbow"> {% include "partials/site-head.html" %}</div>
<main class="center main-content">
  <h1 class="small-stack text-size-l">{{ title }}</h1>
  <h2 class="text-size-m small-stack"> {{ description }}</h2>
  {% block content %}{% endblock %}
  <address class="center large-stack space-evenly">
    {% include "partials/social/linkedin.html" %}
    {% include "partials/social/twitter.html" %}
    {% include "partials/social/github.html" %}
    {% include "partials/social/devto.html" %}
  </address>
</main>
<footer class="center space-evenly text-size-xs">  <p>⚡️ 2023 © Charlotte Fereday</p></footer>
</body>
</html>
