<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86 shrink-to-fit=no">
  <title>👩‍💻 {{ title }}</title>
  <link rel="stylesheet" href="/css/reset.css"/>
  <link rel="stylesheet" href="/css/index.css"/>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,500;0,700;1,400;1,700&amp;family=Source+Code+Pro:ital,wght@0,400;0,700;1,400;1,700&amp;family=Comfortaa:wght@700&amp;display=swap"
        media="all" onload="this.media='all'">
  <script src="https://unpkg.com/scrollreveal"></script>
  <script type="text/javascript" src="/js/scrolling.js"></script>
</head>
<body class="space-below">
{% include "partials/site-head.html" %}
<main class="center main-content">
  <h1 class="space-below">{{ title }}</h1>
  <h2 class="space-below"> {{ description }}</h2>
  {% block content %}{% endblock %}
</main>
</body>
<address class="center add-padding-top-and-bottom space-evenly">
  {% include "partials/social/linkedin.html" %}
  {% include "partials/social/twitter.html" %}
  {% include "partials/social/github.html" %}
</address>
<footer class="center add-padding-top-and-bottom space-evenly">  <p>⚡️ 2020  © Charlotte Fereday</p></footer>
</html>
